
body {
  background: silver;
  margin: 2rem;
}

#nav_main {
  height: 5rem;
  width: 100%;
  background-color: silver;
  z-index: 1;
}

.searchbox {
  width: 30%;
  margin: 0 auto;
}

#searchbar {
  width: 100%; /*of searchbox*/
  font-size: 2rem;
  border-radius: .2rem;
}

.left {
  width: 50%;
  height: 300vh; /*make responsive*/
  float: left;
  background-color: red;
  filter: grayscale(80%);
  z-index: -1;
   }

 .right {
  width: 50%;
  height: 300vh; /*make responsive*/
  float: right;
  background-color: blue;
  filter: grayscale(80%);
  z-index: -1;
}

.thumbnail {
  height: auto;
  max-width: 30%;
}

.main_footer {
  padding: 5rem;
}

/*media query for mob */

@media only screen and (max-width: 600px) {
  body, html {
    margin: 0 auto;
  }
  #searchbox {
    width: 90%;
    margin: 0 auto;
  }
  .left, .right {
    float: none;
    width: 100%;
  }
}
