body {
  background: white;
  margin: 2rem;
  color: white;
  padding-bottom: 10rem;
}

a {
  text-decoration: none;
}

.top-bar {
  width: 100%;
  padding: 5rem 0;
}

.search {
  width: 30%;
  margin: 0 auto;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.search__form__input {
  width: 100%; /*of searchbox*/
  padding: 1rem;
  font-size: 2rem;
  border-radius: .5rem;
  border: 1px solid black;
}

.mainwrap {
  max-width: 1200px;
  margin: 0 auto;
}

.buffering {
  margin: 10rem auto;
  display: block;
}

.left-image, .right-image {
  height: 10rem;
  width: 48%;
  background-position: center bottom;
  background-repeat: repeat-x;
  float: left;
}
.left-image {
  margin-right: 4%;
  background-image: url('/assets/images/UK.jpg');
}
.right-image {
  margin-top: 1rem;
  height: 9rem;
  background-image: url('/assets/images/US.jpg');
}

.us, .uk {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.uk {
  height: 10rem;
  background-image: url('/assets/images/QUEENY.png');
}
.us {
  height: 9rem;
  background-image: url('/assets/images/EAGLY.png');
}

.uk-strip, .us-strip {
  background-repeat: repeat-x;
  height: 42px;
  width: 85%;
  margin: 0 auto;
}
.us-strip {
  background-image: url('/assets/images/US.jpg');
}
.uk-strip {
  background-image: url('/assets/images/UK.jpg');
}

.no-results {
  text-align: center;
  padding: 2rem;
  min-height: 300px;
}

.left {
  width: 48%;
  margin-right: 4%;
  float: left;
  background-color: #cd132a;
  z-index: -1;
}

 .right {
  width: 48%;
  float: right;
  background-color: #00247c;
  z-index: -1;
}

.article__header {
  width: 85%;
  margin: 0 auto;
  padding: 1.2rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: 0.5s all ease;
  font-family:sans-serif;
  font-size: .7 rem;

  height: 3rem;
}

h1.article__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article__summary {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: white;
  padding: 1.2rem;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;

  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;

  height: 10rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.article__thumbnail {
  height: 225px;
  max-width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}

.main_footer {
  padding: 5rem;
}

article:hover .article__header {
  color: #cd132a;
  text-decoration: underline;
}

/*media query for mob */

@media only screen and (max-width: 600px) {
  body, html {
    margin: 0 auto;
  }
  /*#searchbox {
    width: 90%;
    margin: 0 auto;
  }*/
  .search {
    width: 80%;
    margin-left: 1.2rem;
  }
  #searchbar {
    font-size: 1rem;
  }
  .left, .right {
    float: none;
    width: 80%;
    margin: 0 auto;
  }
  .article__header {
    font-size: 1.2rem;
  }
  div.us, div.uk, div.left-image, div.right-image {
    visibility: hidden;
  }
  p.article__summary {
    padding-top: 0;
    font-size: 1rem;
    height: auto;
  }
  article.article {
    height: auto;
  }
  nav.top-bar {
    height: .5rem;
    margin-top: -3rem;
  }
}
